.form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 30px;
}

.form h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0.8;
}

.form span {
  color: gray;
  font-size: 0.9rem;
  margin: 30px 0 10px 0;
  opacity: 0.8;
}

.form input {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid silver;
  border-radius: 5px;
}

.form input::placeholder {
  opacity: 0.5;
}

.form label {
  opacity: 0.8;
}

.form .backButton {
  width: 120px;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 5px 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 40px;
}

.form button {
  width: 90px;
  font-size: 1rem;
  padding: 10px 5px;
  border: none;
  background-color: #a62626;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: auto;
}
