.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(234, 234, 234);
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  margin-left: 40px;
}

.header div {
  display: flex;
}

.header span {
  display: flex;
  align-items: center;
  height: 50px;
  color: gray;
}

.header span p {
  margin-right: 5px;
  font-size: 0.9rem;
}

.button {
  background-color: #a62626;
  color: #fff;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  width: 220px;
  height: fit-content;
  border-radius: 5px;
  top: 70px;
  left: 200px;
  padding: 0 10px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08),
    0 -8px 32px -4px rgba(0, 0, 0, 0.04), 0 16px 24px -6px rgba(0, 0, 0, 0.04);
}

.dropdown p {
  padding: 10px 0;
  font-weight: 200;
  font-size: 0.8rem;
  opacity: 0.56;
}

.dropdown a:not(:last-child),
.dropdown p:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
